
.App {
  text-align: center;
}

.configurator {
  background: #E8E8E8;
    /*position relative!*/
  position: relative;
  width: 80%;
  margin: 15px auto;
  box-shadow: 13px 10px #F0F0F0;
  border-radius: 6px;
  height: 50%;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
 }

.productView {
    position: relative;
    background: rgba(4, 4, 4, 0.33);
    width: 600px;
    height: 500px;
    bottom: 1560px;
}

.tourView {
    position: absolute;
    margin-left: 30%;
    top: 38%;
}


.background_black {
    background-color: #000000;
    text-align: center;
}

.white {
   color: white;
}

.tourNav {
    position: relative;
    }
    .next {
        bottom: 1245px;
        left: 870px;
    }
    .prev {
        left: 228px;
        bottom: 1245px;
    }

.summary {
  padding: 15px 10px 10px 10px;
  line-height: 2px;
  color: #0096d0;
}

.lineSpacing {
    line-height: 2.0;
}

.Modal {
     background: #D3D3D3;
     width: 400px;
     height: 100px;
}


header {
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgb(209,0,25);
  font: 15px "Roboto Light", sans-serif;
  border-bottom: solid 2px #e1edf6;
}

header h1 {
  flex-grow: 1;
  font-weight: bold;
  font: 30px "Roboto Light", sans-serif;
}

h4 {
   text-decoration: underline;
}

.settings {
  font-size: 1.2em;
  padding: 0 10px 5px 10px;
  border-bottom: solid 2px #EEEEEE;
  line-height: 1.2em;
}

.current_state {
    position: relative;
    right: 0;
}

.top {
    position: relative;
    padding-top: 2px;
    padding-bottom: 5px;
}

.padding-left {
  padding-left: 40px;}
    .reset {
        position: relative;
        left: 80%;
        bottom: 70px;
    }
    .input {
        position: relative;
        left: 60%;
        bottom: 40px;
    }

.padding-right {
    position: relative;
    left: 800px;
}

.white {
    color: white;
}

.btn {
    border: none;
    font-size: 12px;
    color: inherit;
    background: #F5F5F5;
    cursor: pointer;
    padding: 15px 60px;
    display: inline-block;
    margin: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.btn-2a:active {
  background-color: #0096d0;
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1 {
    border: 3px solid #fff;
    color: 	#A9A9A9;
}

.btn-1e {
    border: 3px solid #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 10px solid transparent;
    border-left: 10px solid red;
    border-bottom: 5px solid transparent;
}

.btn-1a:hover, .btn-1a:active {
    color: #0e83cd;
    background: #fff;
}

.btn-1:hover, .btn-1e:active {
    color: #cd1806;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1e:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #003ffa;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-2a {
    border-radius: 20px 20px 20px 20px;
}

.btn-2 {
    background: #0096d0;
    display: inline-block;
    color: #fff;
    box-shadow: 0 6px #B0B0B0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-4 {
    border: 3px solid #fff;
    color: #B0B0B0;
    overflow: hidden;
}

.btn-4:hover {
    background: rgb(209,0,25);
    color: white;
}

.btn-4:active {
    border-color: rgb(209,0,25);
    color: #ffffff;
}

.btn-4a:before {
    left: 130%;
    top: 0;
}

.btn-4:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after, .icon-file:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1450px) {
    .configurator {
        width: 100%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    video {
        width: 100%;
        height: auto;
    }
    .tourView {
        position: relative;
        margin-left: 0;
        bottom: 0;
    }
    .current_state {
        padding-left: 20px;
    }
    .reset {
        left: 0;
        top: 5px;
        padding-left: 10px;
    }
    .input {
        left: 0;
        top: 3px;
    }

}

