.App {
  text-align: center;
}

.configurator {
  background: #E8E8E8;
  position: relative;
  width: 1500px;
  margin: 70px auto;
  box-shadow: 13px 10px #E0E0E0;
  border-radius: 6px;
  overflow-x: hidden;
  height: 1000px;
 }

.productView {
    position: relative;
    background: rgba(4, 4, 4, 0.22);
    width: 600px;
    height: 500px;
    margin-left: 451px;
    bottom: 700px;
}

.summary {
  top: 420px;
  width: 300px;
  padding: 15px 10px 10px 10px;
  line-height: 5px;
}

.lineSpacing {
    line-height: 2.0;
}

.Modal {
     background: #D3D3D3;
     width: 400px;
     height: 100px;
}


header {
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #040404;
  font: 15px "Roboto Light", sans-serif;
  border-bottom: solid 2px #e1edf6;
}

header h1 {
  flex-grow: 1;
  font-weight: bold;
  font: 30px "Roboto Light", sans-serif;
}

h4 {
   text-decoration: underline;
}

.settings {
  font-size: 1.2em;
  padding: 15px 10px 5px 10px;
  border-bottom: solid 2px #EEEEEE;
  line-height: 1.2em;

}

.padding-left {
  padding-left: 40px;}
    .reset {
        position: relative;
        left: 1200px;
        bottom: 70px;
    }

.padding-right {
    position: relative;
    left: 800px;
}

.white {
    color: white;
}

.btn {
    border: none;
    font-size: 12px;
    color: inherit;
    background: #F5F5F5;
    cursor: pointer;
    padding: 20px 70px;
    display: inline-block;
    margin: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.btn-2a:active {
  background-color: #6741cb;
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1 {
    border: 3px solid #fff;
    color: 	#A9A9A9;
}

.btn-1e {
    border: 3px solid #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn-1a:hover, .btn-1a:active {
    color: #0e83cd;
    background: #fff;
}

.btn-1:hover, .btn-1e:active {
    color: #0e83cd;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1e:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #003ffa;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-2a {
    border-radius: 0 0 5px 5px;
}

.btn-2 {
    background: #6741cb;
    display: inline-block;
    color: #fff;
    box-shadow: 0 6px #B0B0B0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#buttonboxback {
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 139, 0.53);
    position: relative;
    margin-left: 40px;
    border-radius: 5px;
}

#buttonboxback:before {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent darkblue transparent transparent;
}

#buttonboxback > a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: bold 18px/40px Sans-Serif;
}

#buttonboxback:hover {
    background-color: lightblue;
}

#buttonboxback:hover:before {
    border-right-color: lightblue;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
